<!DOCTYPE html>
<html lang="en">
  {{>head}}
<body class="bg-gradient-dark">
  {{>navbar}}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12">
        {{{body}}}
        {{>footer}}
      </div>
    </div>
  </div>
</body>
</html>

