<!DOCTYPE html>
<html lang="en">
  {{>head}}
<body class="bg-gradient-dark">
  {{>navbar}}
  <div class="container-fluid container">
    <div class="row">
      <div class="col-xl-12 col s12">
        {{{body}}}
      </div>
    </div>
  </div>
  {{>footer}}
</body>
</html>

