<h1 class="text-center justify-content-center">Add New Laptop</h1>
<form action="/products/create" class="mt-4 offset-1 cl-8" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Laptop model</label>
    <input type="text" class="form-control" id="title" />

    <label for="exampleInputEmail1">Laptop price</label>
    <input type="number" class="form-control" id="price" />

    <label for="exampleInputEmail1">URL image</label>
    <input type="text" class="form-control" id="img" />
  </div>
  <button class="btn btn-primary">Create Laptop</button>
</form>